<fieldset>    
    <div style="text-align: center">
        <!-- <img mat-card-image src="../../assets/images/red-logo.svg" width="220px" alt="Logo"> -->
        <div style="font-size: x-large;">ফিশবাংলাতে আপনাকে স্বাগতম</div><br>
        <div style="font-size: large">যোগাযোগঃ</div>
        <div style="font-size: large">{{contact}}</div>
        <div style="font-size: large">মোবাইল: 
            <a href="tel:+8801913311222">০১৯১৩৩১১২২২</a>
        </div><br>
        <section>
            <div>
                <a mat-button color="warn" href="https://play.google.com/store/apps/details?id=com.gtech.fishbangla" target="_blank">এন্ড্রোয়েড এপ্লিকেশন</a>
                <a mat-button color="warn" href="https://www.google.com/" target="_blank">আই.ওস. এপ্লিকেশন</a>
                <a mat-button color="warn" href="https://www.facebook.com/FishBangla/" target="_blank">ফেসবুক পেজ</a>
            </div>
        </section>
    </div>
</fieldset>
