@font-face {
    font-family: 'SolaimanLipi';
    src: url('SolaimanLipi.eot');
    src: url('SolaimanLipi.eot?#iefix') format('embedded-opentype'),
         url('SolaimanLipi.woff') format('woff'),
         url('SolaimanLipi.ttf') format('truetype'),
         url('solaimanLipi.svg#SolaimanLipi') format('svg');
}
